.PizzaImg{
    height: 300px; 
    width: 200px;
    }

.PizzaBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    gap: 90px;
}

.PizzaName{
    display: flex;
    justify-content: center;
}

.PizzaPrice{
    display: flex;
    justify-content: center;
}

.Header{
    display: flex;
    justify-content: center;
}

.Stars{
    font-size: large;
}