.modal {
    position: fixed;
    left: 20vw;
    top: 10vh;
    width: 60vw;
    height: 80vh;
    display: flex;
    
}
.modalBilde {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    border-radius: 20px;
    border: 20px solid black;
    background-color: black;
}

.modalInfo {
    position: fixed;
    left: 40vw;
    top: 30vh;
    width: 20vw;
    height: 40vh;

    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    width: 20vw;
    height: 50vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}


.modalTitle {
    height: 2fr;
    width: 100%;
}

.modalPrice {
    height: 1fr;
}
.modalDesc {
    height: 1fr;
}

#closeLogo {
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: -100px;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.3);
}