.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar > a {
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    font-size: larger;
    background-color: lightblue;
}

